<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="blog">
      <nav class="nav-title">
        <ul class="nav-title-bar">
          <li><a href="{{ url_for('index.index') }}">HOME</a></li>
          <li><a href="#">ARICHIVES</a></li>
          <li><a href="#">ABOUT ME</a></li>
          <li>{# TODO BEGINNING (CC @lttxzmj) #}
          {% if current_user.is_anonymous() %}
          <a href="{{ url_for('user.login') }}">LOG IN</a>
          {% else %}
          {{ current_user.email }}
          <form action="{{ url_for('user.logout') }}" method="post">
            <input type="submit" value="Logout">
          </form>
          {% endif %}
          {# TODO END (CC @lttxzmj) #}</li>
        </ul>
      </nav>


      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
