.blog-content
  padding-top: 2em;

.blog-content-date
  text-align: center;
  color: #848587;
  margin: 1em 0;

.blog-content-title
  font-size: 24px;
  color: #000;
  text-align: center;
  margin: 1em 0;

.blog-content-detial p
  text-indent: 2em;
  color: #848587;
  font-size: 16px;
