.blog-share
  border-bottom: 1px solid #f2f2f2;
  text-align: center;

.blog-share-detail
  overflow: hidden;
  display: inline-block;

.blog-content-detial a
  text-decoration: none;
  color: #000;

.blog-share-detail li
  float: left;
  padding: 2em 3em;
  color: #646465;

.blog-share-detail li i.fa
  padding-right: 1em;
