
.blog
  width: 70%;
  background: #FEFFFF;
  font: 14px Helvetica,Arial,sans-serif;
  letter-spacing: 0.15em;
  margin: 0 auto;

.nav-title
  overflow: hidden;
  margin: 2em 0;

.nav-title-bar
  text-align: center;

.nav-title-bar li
  display: inline;
  list-style: none;

.nav-title-bar a
  text-decoration: none;
  color: #646465;
  padding-right: 4em;
