.content
  margin: 2em 0;
  overflow: hidden;

.content-email, .content-password
  overflow: hidden;
  display: block;
  margin: 0 auto;

.label-email, .label-password
  display: block;
  width: 4em;
  color: #646465;
  margin: 0 auto;
  padding: 1em;

.form-email, .form-password
  display: block;
  border-radius: 2px;
  padding: 0.5em;
  width: 20em;
  margin: 0 auto;
  padding: 0.5em;


.label-login
  display: block;
  width: 6em;
  margin: 2em auto;

.error
  display: block;
  color:red;
  width: 20em;
  margin: 0 auto;
  text-align: center;
