.content
  display: block;

.content-container
  display: block;
  overflow: hidden;

.content-title
  color: #000;
  font-size: 24px;
  margin: 0.8em auto;

.content-detail
  text-align: center;
  color: #848587;
  line-height: 1.5em;

.content-article
  margin: 1em auto;

.content-article p
  text-indent: 2em;
  line-height: 1.5em;
  font-size: 16px;
  color: #848587;

.content a
  display: block;
  text-decoration: none;
  color: #000;
  width: 4em;
  padding: 0 1em 4em 1em;
  margin: 0 auto;
