<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <ul>
        {% for post in posts %}
        <li>
            标题: {{ post.title }} <br>
            作者: {{ post.author.email }} <br>
            更新: {{ post.updated_at.strftime('%Y-%m-%d %H:%S') }} <br>
            创建: {{ post.created_at.strftime('%Y-%m-%d %H:%S') }} <br>
            {{ post.as_html(max_length=140, ellipsis='…') | safe }}
        </li>
        {% endfor %}
    </ul>
</body>
</html>
