{% extends "layout/base.html" %}

{% block content %}
  {% for post in posts %}
  <div class="blog-content">
    <div class="blog-content-date">
      {{ post.created_at.strftime('%Y-%m-%d %H:%S') }}
    </div>
    <div class="blog-content-title">
      {{ post.title }}
    </div>
    <div class="blog-content-detial">
      {{ post.as_html(max_length=140, ellipsis='…') | safe }}
      <a href="{{ post.permalink }}">[更多]</a>
    </div>
  </div>

  <div class="blog-share">
    <ul class="blog-share-detail">
      <li><i class="fa fa-heart fa-lg"></i>621 LIKES</li>
      <li><i class="fa fa-share-alt fa-lg"></i>SHARE</li>
    </ul>
  </div>
  {% endfor %}
{% endblock %}
