{% extends "layout/base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  <hr>
  {% endif %}
{% endwith %}
<div class="content">
  <form class="main-form" action="{{ url_for('user.login') }}" method="post">
    {{ form.csrf_token() }}
    <div class="content-email">
      {{ form.email.label(class="label-email") }}
      {{ form.email(class="form-email") }}
    </div>
    <div class="content-password">
      {{ form.password.label(class="label-password") }}
      {{ form.password(class="form-password") }}
    </div>
    {{ form.submit(class="label-login") }}
    {% if form.errors %}
    <ul class="error">
      {% for name, errors in form.errors.items() %}
      <li>{{ name }}: {{ errors | join(', ') }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </form>
</div>
{% endblock %}
