{% extends "layout/base.html" %}
{% block content %}
<div class="content">
  <div class="content-container ">
    <h2 class="content-title blog-content-title">{{ post.title }}</h2>
    <p class="content-detail">
      作者: {{ post.author.email }} <br>
      更新: {{ post.updated_at.strftime('%Y-%m-%d %H:%S') }} <br>
      创建: {{ post.created_at.strftime('%Y-%m-%d %H:%S') }} <br>
    </p>
  </div>
  <article class="content-article blog-content-detial">
  {{ post.as_html() | safe }}
  </article>
  <a href="{{ url_for('index.index') }}">[首页]</a>
</div>
{% endblock %}
